{% extends "base.html" %}

{% block content %}

<div class="row pt-5 pb-3" style="padding-top:4cm; padding-left: 1cm; ">
    <div class = "col-md-6 mx-auto">
        <div class="card" style="padding:30pt,30pt,30pt,5pt; background-color: rgba(255, 255, 255, 0.726);">
            <div class="container" style="padding: 30pt,30pt,30pt,5pt;">
                            <h1 align="center"  style="color: #090341; padding-top: 5mm;" ;>Fill the Credentials</h1>
                            <hr>
                            <form action="" method="post">
                                {{ form.hidden_tag() }}
                                <p>
                                    {{ form.checkIn.label }}<br>
                                    {{ form.checkIn(size=32) }}<br>
                                    {% for error in form.checkIn.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </p>
                                <p>
                                    {{ form.checkOut.label }}<br>
                                    {{ form.checkOut(size=32) }}<br>
                                    {% for error in form.checkOut.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </p>
                                <p>
                                    {{ form.totalMembers.label }}<br>
                                    {{ form.totalMembers(size=32) }}<br>
                                    {% for error in form.totalMembers.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </p>
                                <p align="center">{{ form.submit() }}</p>
                            </form>
                            </div>
        </div>
    </div>
    
{% endblock %} -->

