<!--

=========================================================
* Now UI Kit - v1.3.0
=========================================================

* Product Page: https://www.creative-tim.com/product/now-ui-kit
* Copyright 2019 Creative Tim (http://www.creative-tim.com)
* Licensed under MIT (https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md)

* Designed by www.invisionapp.com Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
      Hotel Registration
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}"/>  
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/now-ui-kit.css')}}"/>
</head>

<body class="landing-page sidebar-collapse" style="background: rgb(0, 7, 68);">
  

  <nav class="navbar navbar-expand-lg" style="background: rgb(0, 0, 71);">
    <div class="container">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="{{url_for('admin.index')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('admin.Book')}}">Booking</a>
          </li>
          {% if current_user.is_anonymous %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('admin.signup')}}">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('admin.UserLogin')}}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('admin.adminLogin')}}">Admin</a>
            </li>
          {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{{url_for('admin.userDashboard')}}">Dashboard</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('admin.recommended')}}">Recommended</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('admin.logout')}}">Logout</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

    <!-- hotels -->

    <div class="container">
        <br>
        <br>
            <div class="card">              
                <div class="card-body">
                <h4 class="card-title"></h4>
                <div class="table-responsive">
                        <table class="table">
                                <thead class=" text-primary">
                                        <tr>
                                            <th>Room NO.</th>
                                            <th>Capacity</th>
                                            <th>Price</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                
                                <tbody>
                                {% for each in list %}
                                    <tr>
                                        <td>{{each['roomNo']}}</td>
                                        <td>{{each['capacity']}}</td>
                                        <td>{{each['price']}}</td>
                                        {% if each['status'] == false %}
                                            <td>Already booked</td>
                                        {% elif each['roomNo'] in draftList %}
                                        <td>
                                          <p>Draft Saved</p>
                                          <a href="{{url_for('admin.viewDraft')}}">View draft</a>
                                          </td>
                                        {% elif each['status'] == true %}
                                            <td>
                                            <p>Available</p>
                                            <a href="{{url_for('admin.book_room', hotelId = each['hotelId'] , roomNo = each['roomNo'])}}">Book Room</a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                                </table>    
                </div>
                </div>
            </div> 
    </div>




    <!-- hotel ends -->
    <footer class="footer footer-default" style="background: rgba(0, 0, 0, 0.308);">
      <div class=" container ">
        <nav>
          <ul>
            <li>
              <a href="https://mayankdhiman.github.io/blog/">
                Blog
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright" id="copyright">
          &copy;
          <script>
            document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
          </script>, Made with &hearts; by Syntax Error!
        </div>
      </div>
    </footer>
  </div>
  <!--   Core JS Files   -->
  <script src="{{url_for('static', filename='js/core/jquery.min.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static', filename='js/core/popper.min.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static', filename='js/core/bootstrap.min.js')}}" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="{{url_for('static', filename='js/plugins/bootstrap-switch.js')}}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{{url_for('static', filename='js/plugins/nouislider.min.js')}}" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="{{url_for('static', filename='js/plugins/bootstrap-datepicker.js')}}" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
  <script src="{{url_for('static', filename='js/now-ui-kit.js')}}" type="text/javascript"></script>
</body>

</html>